<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasServlet</servlet-name>
        <servlet-class>Controlador.Ventas.VentasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productoControlador</servlet-name>
        <servlet-class>Controlador.productoControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasServlet</servlet-name>
        <url-pattern>/VentasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productoControlador</servlet-name>
        <url-pattern>/productoControlador</url-pattern>
    </servlet-mapping>
</web-app>
